
body{
  animation: change-color 10s infinite ;
}

@keyframes change-color{
  0% {background-color: rgb(175, 246, 255);}
  25% {background-color: rgb(255, 190, 230);}
  50% {background-color: rgb(255, 255, 255);}
  75% {background-color: rgb(255, 190, 230);}
  100% {background-color: rgb(175, 246, 255);}

}

.title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: 80px auto;
  animation: skew 3s infinite alternate;
}

@keyframes skew {
  0%{transform: skew(0deg, 0deg);}
  100%{transform: skew(-180deg, 360deg);}
}

.square{
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 50px auto;
  transition: all 1s;
} 

.square:hover{
  background-color: blue;
  transform: rotate(120deg);
}

.buttondiv{
  text-align: center;
}

.button{
  color: white;
  background-color: brown;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 3s;
}

.button:hover{
  background-color: blueviolet;
  transform: scale(5);
}

.dots{
  background-color:chocolate;
  width: 80vw;
  animation: stretch 5s infinite alternate;
}

@keyframes stretch {
  0% {width: 100px;}
  100% {width: 80vw;}
}

.square2{
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 50px auto;
  animation: dance 2s infinite alternate;
} 

@keyframes dance{
  0%{transform: translate(0px, 0px); width: 100px;}
  100%{transform: translate(500px, 500px); width: 500px;} 
}

.buttondiv2{
  text-align: center;
}

.button2{
  color: white;
  background-color: brown;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  transition: all 1s;
}

.button2:hover{
  background-color: blueviolet;
  transform: rotate(360deg);
}