
:root{
--bg-color-1: #210555; 
--bg-color-2: #311a27;
--font-1: #fff7f7;
--accent-1: #88ddcf;
--accent-2: linear-gradient(20deg, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, violet 100%);
--accent-3: linear-gradient(170deg, violet 0%, blue 20%, green 40%, yellow 60%, orange 80%, red 100%);
--light-1: #fff;
}

*::before

*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

img{
  display: block;
  max-width: 100%;
}

body{
  background-color: var(--bg-color-1);
  color: var(--font-1);
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
}

header{
  padding: 5rem 2rem;
  margin-bottom: 7rem;
}

header h1{
  text-shadow: 2px 2px 0 #76b5b8, 4px 4px 0 #b0eaec;
}

nav a{
  text-decoration: none;
  color: var(--font-1);
  transition: all 0.5s;
}

nav a:hover{
  color: var(--accent-1);
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.hamburger{
  display: none;
  background: none;
  border: none;
  color: var(--font-1);
  font-size: 3rem;
}

@media (max-width: 650px){
  .navbar{
    align-items: flex-start;
  }

  .navi{
    display: flex;
    flex-direction: column;
  }

  .hamburger{
    display: block;
    align-self: flex-end;

  }
  .nav-menu{
    display: none;
  }

  .nav-menu.active{
    display: flex;
    flex-direction: column;
    background-color: var(--font-1);
    padding: 1rem;
  }

  .nav-menu a{
  color: var(--bg-color-2);

  }

  header{
      padding: 1.5rem 2rem;
  }
}



main{
  margin: 0;
}

@media (max-width: 1050px){
  main{
    margin: 2rem;
  }
}

.about-content, .portfolio-content, .contact-content{
  max-width: 60rem;
  margin: 0 auto 7rem auto;
}

.portfolio-item{
  padding: 1rem;
  background-color: var(--font-1);
  color: var(--bg-color-2);
  border-radius: 0.2rem;
}

.portfolio-item p{
  font-size: 1.3rem;
}

.portfolio-item h3{
  font-size: 1.4rem;
}

.portfolio-item img{
  border-radius: 0.1rem;
}

.about-content h2, .portfolio-content h2, .contact-content h2{
 margin: 2rem 0; 
}





footer{
  padding: 1rem 2rem;
}

footer img{
  display: inline;
  max-width: 2.7rem;
  margin: 0 1rem;
}

.socials{
  display: flex;
}

@media (max-width: 700px){
  footer p{
    font-size: 1.2rem;
  }

  footer img{
  max-width: 2rem;
  margin: 0 0.4rem;
  }
}

@media (max-width: 450px){
  footer p{
    font-size: 1rem;
  }

  footer img{
  max-width: 1.5rem;
  margin: 0 0.2rem;
  }
}


.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: stretch;
}

.flex-item-grid {
  flex: 1 0 15rem;
}