
:root{
--bg-color-1: #fff; 
--bg-color-2: #e9ebe8;
--font-1: #111;
--accent-1: #88d7dd;
--accent-2: linear-gradient(20deg, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, violet 100%);
--accent-3: linear-gradient(170deg, violet 0%, blue 20%, green 40%, yellow 60%, orange 80%, red 100%);
--dark-1: #210555;
}


* {
  margin: 0;
  padding: 0;
}

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

.meow-script-regular {
  font-family: "Meow Script", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: var(--bg-color-1);
  color: var(--font-1);
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: justify;

}

@media(max-width: 700px){
  body{
    font-size: 1rem;
  }
}


header {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 3rem 1rem;
  background: var(--accent-2);
  margin-bottom: 3rem;
  text-align: center;
  color: var(--font-1);
  border-bottom: var(--accent-1) 3px solid;
}



header h1 {
  font-size: 5rem;
  font-family: "Meow Script";
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--accent-1);
}

@media(max-width: 1350px){
  header h1{
    padding-top: 4.5rem;
  }
}

@media(max-width: 600px){
  header h1{
    font-size: 2rem;
  }
}

nav{
  position: absolute;
  left: 2rem;
}

nav a{
  text-decoration: none;
  color: var(--bg-color-1);
  display: inline-block;
  margin: 0 2rem;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  transition: all 0.5s ease;

}

nav a:hover{
  background-color: var(--dark-1);
  display: inline-block;
  border-radius: 1rem;
  transform: scale(1.3);
}

main{
  margin: 0;
}
@media (max-width: 1400px){
  main{
    margin: 4rem;
  }
}

@media (max-width: 600px){
  main{
    margin: 2rem;
  }
}



.about-content, .portfolio-content, .contact-content{
  max-width: 60rem;
  margin: 2rem auto;
}

.about-content h2, .portfolio-content h2, .contact-content h2{
  padding: 2rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.about-section, .portfolio-section, .contact-section{
  margin-bottom: 4rem;
}

.portfolio-item{
  margin-bottom: 3rem;
  background: var(--bg-color-2);
  padding: 3rem;
  border-radius: 2rem;
}

@media(max-width: 650px){
  .portfolio-item{
    padding: 2rem;
  }
}

.portfolio-item img {
  max-width: 100%;
  display: block;
  border-radius: 0.2rem;
  /*box-shadow: 10px 10px 2px lightblue;*/
  border: var(--accent-1);
  border-width: 0.9rem;
  border-style:double;
}

.portfolio-item h3{
  margin-top: 2rem;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: var(--accent-1);
  border-radius: 2rem;
  display: inline-block;
  padding: 1rem;
}

@media(max-width: 700px){
  .portfolio-item h3{
    font-size: 1.5rem;
  }
}

p{
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}


footer{
  background: var(--accent-3);
  padding: 0.2rem;
}
footer p{
  margin-left: 1rem;
  font-size: 1rem;
}


.accent-1{
  color: #55054e;
}